<h1>Welcome to Lifestyle</h1>

<div class="featured-article">
    <% if !@featured.empty? %>
        <h2> Featured Article </h2>
        <h1><%= @featured.title %></h1>
    <% end %>
</div>
<hr>

<article class="articles">
<% @categories_by_priority.each do |category| %>
    <div class="article-item" > 
    <%= link_to category.name, category %><span>(<%= category.articles.count %>)</span>

    <% category.articles.most_recent.each do |article| %>
        
        <p><%= link_to article.title, article_path(article) %></p>
        
    <%end%>
    </div>
    <hr>
<% end %>

</article>

