/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "font-awesome";

$primary-color:  #fd6704;
$secondary-color: #505050;
$yellow-color: #ffcc00;
$light-red: #ff3333;
$nav-white: #eee;
* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    // background-color: $secondary-color;
    .content-container{
        margin-top: 70px;
    }
}

/*---------------Navbar-----------*/
nav{
    display: flex;
    justify-items: center;
    padding: 14px 8px 0;
    font-size: 1rem;
    text-transform: uppercase;
    border-bottom: 1px solid $light-red;
    background-color: white;

    a{
        color: $secondary-color;
        &:active{
            color: $primary-color;
        }
    }

    .nav-categories {
        width: 75%;
    }

    #nav {
        .active {
            a {
                color: $primary-color;
            }
        }
    }

    ul{
        padding: 8px;
        display: inline-flex;
        justify-content: center;
        
        #create-item {
            cursor: pointer;           
            &:hover {
                a, svg{
                    color: $primary-color;
                } 
            }
        }
        li {
            margin-right: 12px;
            svg {
                color: $secondary-color;
                margin-right: 6px;
            }
            a{
                &:hover{
                    color: $primary-color;
                    text-decoration: none;
                    font-weight: 700;
                }
            }

        }
    }

}


/*-------------Featured article---------------*/
.hero {
    display: flex;
    height: 500px;

    .featured-article{
        position: relative;
        width: 70%;

        .gradient {
            position: absolute;
            height: 100%;
            width: 100%;
            background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(0, 0, 0));
        }
       
        .featured-info {
            position: absolute;
            bottom: 10px;
            padding: 0 1rem;

            h3{
                a{
                    color: $primary-color;
                }
                font-weight: bold;
                font-size: 2.1rem;
            }

            p{
                color: white;
                width: 85ch;
                font-size: 1.2rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .right-feature{
        width: 30%;
        height: 500px;
        padding-left: 2px;

                    /*----------recent articles section-------------*/
            .recent-articles{
                display: grid;
                grid-template-rows: repeat(2, 1fr);
                

                .article-item {
                    position: relative;
                    height: 250px;
                    width: 100%;
                    
                    .article-grad {
                        z-index: 1;
                        bottom: 2px;  
                        height: 100%;            
                        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24), rgba(7, 6, 6, 0.815));
                    }

                    p{
                        padding: 0 14px;
                        position: absolute;
                        bottom: 0;
                        font-size: 20px;
                        a{
                            color: white;
                            font-weight: 600;
                            &:hover {
                                color: $primary-color;
                            }
                        }
                    }
                }
            }
    }
}

/*---------------------Featured categories---------------*/
.articles-section {
    .title {
        color: $primary-color;
        padding: 14px 0;
        font-weight: 900;
        font-size: 30px;
    }
    .articles{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 10px;
            row-gap: 10px;
            

            .article-item {
                position: relative;
                height: 250px;
                width: 100%;
                
                .article-grad {
                    z-index: 1;
                    bottom: 2px;  
                    height: 100%;            
                    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24), rgba(7, 6, 6, 0.815));
                }

                h5{
                    position: absolute;
                    padding: 10px 14px;
                    font-weight: 700;
                    top: 2px;
                    text-transform: capitalize;;
                    a{
                        text-decoration: none;
                        color: white;
                        border-bottom: 2px solid $yellow-color;
                        padding-bottom: 6px;
                    }
                }

                p{
                    padding: 0 14px;
                    position: absolute;
                    bottom: 0;
                    a{
                        color: white;
                        font-weight: 600;
                    }
                }
            }
    }
}






/*--------banner-------------*/
.banner {
    padding: 10px 40px;
    background-color: $primary-color;
    color: white;
}


/*-----------Shared ---------------------*/
.article-votes {
    cursor: pointer;
    span{
        background-color: #fce9dd;
        padding: 5px 8px;
        border-radius: 20px;
    }
    a {
        color: $primary-color;
        svg {
            padding-right: 4px;
        }
    }
}

/*===============================================================================================
                            CATEGORY PAGE
================================================================================================*/
/*-------------Individual category-------------*/
.category-section {
    
    .articles{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10px;
        

        .article-item {
            position: relative;
            height: 200px;
            width: 100%;
            
            .article-grad {
                z-index: 1;
                bottom: 2px;  
                height: 100%;            
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24), rgba(7, 6, 6, 0.815));
            }

            h5{
                position: absolute;
                padding: 10px 14px;
                font-weight: 700;
                top: 2px;
                text-transform: capitalize;;
                a{
                    text-decoration: none;
                    color: white;
                    border-bottom: 2px solid $yellow-color;
                    padding-bottom: 6px;
                }
            }

            p{
                padding: 0 14px;
                position: absolute;
                bottom: 0;
                color: rgb(201, 201, 201);
                font-size: 12px;
                width: 100%;
                
                .author {
                    text-transform: capitalize;
                    margin-right: 8px;
                }

                .posted-time {
                    float: right;
                }
            }

            
        }

        .article-info{
            h5{
                padding: 8px 1px;
                bottom: 0;
                a{
                    font-weight: 800;
                    color: $secondary-color;
                }
            }

            p {
                text-align: justify;
                overflow: hidden; 
                text-overflow: ellipsis; 
                display: -webkit-box; 
                // line-height: 16px;  
                // max-height: 32px;      
                
                /* The number of lines to be displayed */ 
                -webkit-line-clamp: 4;  
                -webkit-box-orient: vertical; 
            }
        }
    }
}

/*===============================================================================================
                            ARTICLE PAGE
================================================================================================*/

.article-section {
    display: flex;

    .article {
        width: 70%;
        margin-bottom: 20px;

        h2 {
            font-weight: 700;
            padding: 20px 0 10px;
        }

        .article-image {
            height: 400px;
            position: relative;

            .article-category {
                position: absolute;
                bottom: -16px;
                background-color: $primary-color;
                text-align: center;
                text-transform: uppercase;
                padding: 8px 14px;

                a{
                    color: white;
                }
            }
        }

        .article-votes {
            padding: 10px 0 10px;
            font-size: 14px;

            .author {
                text-transform: capitalize;;
            }
            span{
                background-color: white;
                color: $secondary-color;
            }

            .votes {
                float: right;
                background-color: rgb(252, 244, 237);
            }
        }

        .article-text{
            text-align: justify;
        }
    }

    .popular-articles-sidebar{
        margin-top: 30px;
        width: 30%;
        border-left: 1px solid rgb(199, 198, 198);
        margin-left: 16px;

        .popular-articles{
            
            
            padding-left: 16px;

            h2 {
                color: $primary-color;
                font-weight: 900;
            }

            .popular-item {
                display: inline-flex;
                .popular-image {
                    width: 80px;
                    height: 70px;
                }

                .popular-info{
                    width: 70%;
                    padding-left: 10px;
                    

                    a{
                        color: black;
                        font-weight: 700;
                        overflow: hidden; 
                        text-overflow: ellipsis; 
                        display: -webkit-box; 
                        -webkit-line-clamp: 2;  
                        -webkit-box-orient: vertical; 
                    }
                }

                .popular-votes {
                    font-size: 12px;
                    padding-top: 4px;
                    color: grey;
                }
            }
        }
    }
}